<h1>KelloggCoin Ledger</h1>

<!-- Step 1: List all transaction, starting with the ICO -->

<!-- Step 2: Calculate and display the balances -->

<!-- 
Expected balances:
Balance for Brian: 1348 KC
Balance for Ben: 2516 KC
Balance for Evan: 1164 KC
Balance for Anthony: 1456 KC
Balance for Krystina: 3516 KC 
-->

bens_balance = 0
brians_balance = 0
evans_balance = 0
anthonys_balance = 0

<% 
# loop through the "blockchain" and increment/decrement the balances accordingly
for transaction in blockchain
  # each "transaction" in the "blockchain" array is a Hash

  # if the user is the "from_user", decrement their balance
  if transaction[:from_user] == "ben"
    bens_balance = bens_balance - transaction[:amount]
  elsif transaction[:from_user] == "brian"
    brians_balance = brians_balance - transaction[:amount]
  elsif transaction[:from_user] == "evan"
    evans_balance = evans_balance - transaction[:amount]
  elsif transaction[:from_user] == "nathan"
    anthonys_balance = anthonys_balance - transaction[:amount]
  end

  # if the user is the "to_user", increment their balance
  if transaction[:to_user] == "ben"
    bens_balance = bens_balance + transaction[:amount]
  elsif transaction[:to_user] == "brian"
    brians_balance = brians_balance + transaction[:amount]
  elsif transaction[:to_user] == "evan"
    evans_balance = evans_balance + transaction[:amount]
  elsif transaction[:to_user] == "anthony"
    anthonys_balance = anthonys_balance + transaction[:amount]
  end
end 
%>