

<h1>KelloggCoin Ledger</h1>

<!-- Step 1: List all transaction, starting with the ICO -->

<!-- Step 2: Calculate and display the balances -->

<!-- 
Expected balances:
Balance for Brian: 1348 KC
Balance for Ben: 2516 KC
Balance for Evan: 1164 KC
Balance for Anthony: 1456 KC
Balance for Krystina: 3516 KC 
-->

brian_user = 0
ben_user = 0
evan_user = 0
anthonys_balance = 0
krystinas_balance = 0


<%
=begin%>
 #loop through the "blockchain" and increment/decrement the balances accordingly 
<%
=end%>

<% 

   blockchain = Transaction.all.count

  for transaction in blockchain
  # each "transaction" in the "blockchain" array is a Hash

  blockchain = []
  # if the user is the "from_user", decrement their balance
  if transaction[:from_user] == "ben" 
    brian_user = ben_user - transaction[:amount] 
  elsif transaction[:from_user] == "brian"
    ben_user = brian_user - transaction[:amount] 
  elsif transaction[:from_user] == "evan"
    evan_user = evan_user - transaction[:amount]
  elsif transaction[:from_user] == "anthony"
    anthony_user = anthony_user - transaction[:amount]
  elsif transaction[:from_user] == "krystina"
    krystina_user = krystina_user - transaction[:amount]
  end %>


  # if the user is the "to_user", increment their balance
  <% if transaction[:to_user] == "ben"
    ben_user = ben_user + transaction[:amount]
  elsif transaction[:to_user] == "brian"
    brian_user = brian_user + transaction[:amount]
  elsif transaction[:to_user] == "evan"
    evan_user = evan_user + transaction[:amount]
  elsif transaction[:to_user] == "anthony"
    anthony_user = anthony_user + transaction[:amount]
  elsif transaction[:to_user] == "krystina"
    krystina_user = krystina_user + transaction[:amount]
  end 
end 

%>


